<style>

@font-face {
    font-family: "parabolica", sans-serif;
    font-style: normal;
}

@font-face {
    font-family: instrument-serif, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "rama-gothic-m", sans-serif;
    font-style: normal;
}

@font-face{
    font-family: "kaneda-gothic", sans-serif;
    font-weight: 800;
    font-style: normal;
}

@font.face {
    font-family: "magno-sans-variable", sans-serif;
    font-weight: 100 900,
}

html, body {
    height: 100%;
    max-width: 100%;
    font-size: 16px;
    background-color: #000000 !important;
    
    scroll-behavior: smooth;
}


.container-fluid{
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    overflow: hidden;
}

.container{
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.row{
    margin: 0px !important;
    padding: 0px !important;
    max-height: fit-content !important;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.rowContent {
    margin: 0px !important;
    max-width: 100% !important;
}

/*#appFormContainer5{
margin: 0px !important;
    max-width: 90% !important;
    overflow-x: hidden;
}*/


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    text-align: left !important;
}

/*1200px or bigger*/
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 0px;

}

/*992px or bigger*/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding: 0px;

}

/*768px or bigger*/
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding: 0px;

}

/*767px or smaller*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding: 0px;
}

.span12 > p{
    display: block;
    background-color: #f8f6ef !important;
    color: #000000;
}


.clearing{
    clear: both !important;
}

.flow{
    display: flow-root;
}
    

/*.z1{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.z0{
  position: absolute;
  left: 0px;
  top: 0px;
z-index: 0;
}*/


.posrelative {
    position: relative;
}

header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    width: 100%;
    height: 100%;
    /*object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;*/
}

.svg-overlay {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    fill: #f0ece0;
}

svg {
    width: 20%;
    align-items: center;
    display: flex;
    fill: #000000;
}

.headertorre{
    width: 100%;
    height: 25vh;
}

/*PADDING*/
.p-t{
    padding-top: 15px;
}

.p-l{
    padding-left: 6.25rem;
}

.p-b{
    padding-bottom: 15px;
}

.p-r{
    padding-right: 6.25rem;
}

.p-b-section{
    padding-bottom: 50px;
}

.p-t-head{
    padding-top: 90px;
}

.p-b-head{
    padding-bottom: 50px;
}

.p-img{
    padding:0 16.6%;
}

/*FLOAT*/
.float-l{
    float: left;
}

.upcase{
    text-transform: uppercase;
}

.al-center{
    text-align: center !important;
}


.justify {
  text-align: justify !important; /* For Edge */
  -moz-text-align-last: justify !important; /* For Firefox prior 58.0 */
  text-align-last: justify !important;
}

/*
.justify:after {
  content: "";
  display: inline-block;
  width: 100%;
}*/

ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
        }

.h1 {
    margin: 0px;
    font-family: rama-gothic-m;
    font-weight: 700;
    font-size: 275px;
    line-height: 85%;
    color: #000000;
    text-rendering: geometricPrecision;
/*color: #17322D;*/
}

.h2 {
    margin: 0px;
    font-family: rama-gothic-m;
    font-weight: 700;   
    font-size: 200px;
    line-height: 85%;
    color: #000000;
    /*color: #17322D;
    clear: both;*/
    text-rendering: geometricPrecision;
}

.h3{
    font-family: rama-gothic-m;
    font-weight: 700;
    font-size: 100px;
    line-height: 85%;
    color: #000000;
    /*color: #17322D;*/
    /*padding-top: 5.5625rem;*/ 
    margin: 0px;
    text-rendering: geometricPrecision;
}

.h4{
    font-family: 'rama-gothic-m';
    font-weight: 700;   
    font-size: 70px;
    line-height: 85%;   
    color: #000000;
    /*color: #17322D;*/
    /*padding-top: 5.5625rem;*/
    margin: 0px;
    text-rendering: geometricPrecision;
}

.discl{
    font-family: parabolica;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 105%;
    color: #000000;
    /*color: #17322D;*/
    margin: 0px;
    text-rendering: geometricPrecision;
}

.p {
    font-family: parabolica;
    font-size: 28px;
    font-weight: 400;
    line-height: 105%;
    color: #000000;
    /*color: #17322D;*/
    margin: 0px;
    text-rendering: geometricPrecision;
}

.foot{
    font-family: instrument-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 16px;
    line-height: 105%;
    color: #000000;
    /*color: #17322D;*/
    margin: 0px;
    text-rendering: geometricPrecision;
}

.line {
    height: 2px;
    background: black;
    margin: 0;
}


a:link { 
    text-decoration: none;
    color: #000000; 
} 


a:visited { 
    text-decoration: none;
    color: #000000; 
} 

a:active { 
    text-decoration: none;
    color: #f8f6ef; 
}

@media (hover: hover) {
    
    a:hover {
        text-decoration: none;
        transition: all 400ms ease;
        color: #f8f6ef;
    }

    .pointlink:hover{
        text-decoration: none;
        transition: all 400ms ease;
        color: #db2725;
    }
}

/*****************CARD*****************/

.p-r-card {
    margin: 15px 0px;
    padding: 0 15px;
}

.card {
    position: relative;
    overflow: hidden; /* Forza il contenitore a contenere i float */
}

.card-text-top {
    position: relative;
    font-family: rama-gothic-m;
    font-weight: 700;
    font-size: 35px;
    line-height: 90%;
    color: #000000;
    width: 58.3333333333%;
    float: left;
    z-index: 1;
    text-rendering: geometricPrecision;
}

.card-text-bottom {
    position: relative;
    font-family: rama-gothic-m;
    font-weight: 700;
    font-size: 140px;
    line-height: 60%;
    color: #000000;
    float: left;
    text-align: right !important;
    width: 41.6666666667%;
    z-index: 1;
    text-rendering: geometricPrecision;
}

.card-image {
    position: absolute;
    width: 90%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: 0;
}

.card-text-bottom::first-line {
    line-height: 80%; /* Reset line-height for the first line */
        }

/***********************************************/



/*****************MD - FOR LANDSCAPE TABLETS AND SMALL LAPTOP*****************/

@media (max-width: 1199px){

/*************TYPE****************/
    .h1{
        font-size: 275px;
    }

    .h2{
        font-size: 160px;
    }

    .h3{
        font-size: 120px;
    }

    .h4{
        font-size: 30px;
    }

    .discl{
        font-size: 16px;
    }

    .p{
        font-size: 28px;
    }

/*PADDING*/
    .p-t{
        padding-top: 15px;
    }
    .p-l{
        padding-left: 30px;
    }
    .p-b{
        padding-bottom: 15px;
    }
    .p-r{
        padding-right: 30px;
    }

    .p-b-section{
        padding-bottom: 30px;
    }

    .p-t-head{
        padding-top: 90px;
    }

    .p-b-head{
        padding-bottom: 50px;
    }

    .p-img{
        padding:0 16.6%;
    }

/*****************CARD******************/
    p-r-card{
        margin: 10px 0;
        padding: 0 8px;
    }

    .card-text-top {
        font-size:30px;
        margin: 0px;
    }

    .card-text-bottom {
        font-size: 100px;
    }
/*********************************************/

}
/*********************************************/




/**************SM - FOR TABLETS**************/
@media (max-width: 991px){

/*************TYPE****************/
.h1{
font-size: 205px;
}

.h2{
font-size: 120px;
}

.h3{
font-size: 90px;
}

.h4{
font-size: 30px;
}

.discl{
font-size: 16px;
}

.p{
font-size: 28px;
} 
/*****************CARD******************/
.p-r-card{
margin: 10px 0;
padding: 0 8px;
}

.card-text-top {
font-size:30px;
margin: 0px;
}

.card-text-bottom {
font-size: 100px;
}
/*********************************************/

}
/*********************************************/



/*****************FOR MOBILE******************/
@media (max-width: 767px) {

.line {
  height: 1px;}

svg {
    width: 35%;
}
/*PADDING*/
.p-t{
padding-top: 8px;
}

.p-l{
padding-left: 15px;
}

.p-b{
padding-bottom: 8px;
}

.p-r{
padding-right: 15px;
}

.p-b-section{
padding-bottom: 15px;
}

.p-t-head{
padding-top: 15px;
}

.p-b-head{
padding-bottom: 15px;
}

.p-img{
padding:0;
}

/*************TYPE****************/
.h1{
font-size: 205px;
}

.h2{
font-size: 120px;
}

.h3{
font-size: 90px;
}

.h4{
font-size: 30px;
}

.discl{
font-size: 16px;
}

.p{
font-size: 24px;
}

.header-image {
 display: none;
}

/*****************CARD******************/
.p-r-card{
margin: 10px 0;
padding: 0;
}

.card-text-top {
font-size:30px;
margin: 0px;
}

.card-text-bottom {
font-size: 100px;
}
/*********************************************/

}
/*********************************************/

/************FOR SCREEN<576PX************/
@media (max-width: 576px) {

svg {
    width: 35%;
}

.h1{
font-size: 100px;
}

.h2{
font-size: 98px;
}

.h3{
font-size: 70px;
}

.h4{
font-size: 30px;
}

.discl{
font-size: 16px;
}

.p{
font-size: 20px;
}

/*****************CARD******************/
.p-r-card{
margin: 10px 0;
padding: 0;
}

.card-text-top {
font-size:30px;
margin: 0px;
}

.card-text-bottom {
font-size: 100px;
}
/*********************************************/

}
/************************************************/
</style>
